 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <title>Received</title>
    
    <h2>Application Received! Let's hope he chooses you.</h2>
    <h3>You should receive a response within a week and a half because he's getting so many of these</h3>
</head>

</html>