@{
    ViewData["Title"] = "Home Page";
}

<h1>Date Cameron Connors</h1>

<div>
    <p>
        Today is your lucky day! You may have the opportunity to date this...
    </p>
    <img src="~/img/peachesCam.jpeg" style="width: 400px; height: auto;" alt=""/>
</div>

<br/>

<div>
    <a asp-controller="Home" asp-action="DatingApplication">
        Fill out the application to date me!
    </a>
</div>