@model Application

@{
    Layout = null;
}

<table>
    <thead>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Hobbies</td>
        <td>Phone</td>
        <td>Major</td>
        <td>Occupation</td>
        <td>Clingy</td>
    <td></td>
    </thead>
        
    <tbody>
    
    </tbody>
</table>